# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml
target

register/.idea
register/*.iml
register/target


config/.idea
config/*.iml
config/target


provider/.idea
provider/*.iml
provider/target


consumer/.idea
consumer/*.iml
consumer/target